/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

:root{
    --dark-blue: #0D1C2D;
    --blue: #0055FF;
    --red: #E73428;
    --green: #2F9B5B;
    --green-apple: #2CE72C;
    --dark-grey: #464646;
    --grey: #99A0AA;
    --light-grey: #BFCFD2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
}

body {
    background-color: #F5F7F6;
    height: 100vh;
    overflow-y: hidden;
}

.mainGrid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100%;
    transition: 300ms ease all;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}

.whiteText {
    color: #fff;
}

.darkText {
    color: var(--dark-blue);
}

.greyText {
    color: var(--grey);
}

.lightGreyText {
    color: var(--light-grey);
}

/* End General styles */

/* Start Side Bar */

.sideBar {
    background-color: #fff;
    height: 100%;
    display: grid;
    grid-template-rows: 30% auto;
}


.sideBar .displayMobile, .sideBar__menuMobile {
    display: none;
}

.sideBar__menuMobile button {
    border: none;
    background: none;
}

.sideBar__user {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-content: flex-start;
    flex-wrap: wrap;
}

.sideBar__user_img,
.infobar__history_item_img {
    position: relative;
    max-height: 65px;
}

.sideBar__user_online,
.infobar__history_item--online {
    height: 16px;
    width: 16px;
    background-color: var(--green-apple);
    border-radius: 50%;
    display: block;
    border: 3px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sideBar__userData {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sideBar__user_data {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;
    align-items: center;
}

.sideBar__user_data span {
    font-weight: 600;
    color: var(--dark-blue);
}

.sideBar__user img,
.infobar__history_item_img img {
    width: 100%;
    height: auto;
    border-radius: 35%;
    max-width: 60px;
    max-height: 60px;
}

.sideBar__menu ul {
    list-style: none;
}

.sideBar__menu ul li {
    padding: 1.4rem 0;
}

.sideBar__menu ul li span {
    color: var(--grey);
}

.sideBar__menu ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    padding: 0 5rem;
    color: var(--dark-blue);
    font-weight: 600;
    letter-spacing: 0.08rem
}

.sideBar__menu ul .active a {
    font-weight: 600;
}

.sideBar .active {
    background-color: #F5F7F6;
    position: relative;
}

.sideBar .active::before {
    content: "";
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0 8px 8px 0;
    background-color: var(--blue);
    position: absolute;
}

.sideBar__menu ul li.active span {
    color: var(--blue);
    ;
}

/* End Side Bar */


/* Start Main content */

.mainContent {
    padding: 4rem;
    margin: 0 auto;
}

.mainContent h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 600;
    color: var(--dark-blue);
}

.img_data {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 1.8rem;
}

.img_time {
    position: absolute;
    right: 0;
    margin: 0 auto;
    top: 10%;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 1.8rem;
}

.img_dataPlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 1.8rem;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 90%;
    align-items: center;
    gap: 1rem;
}

.img_data__play {
    background-color: #fff;
    color: var(--grey);
    text-align: center;
    padding: 0.8vw;
    border-radius: 100%;
}

.img_data__name {
    font-weight: 500;
    font-size: 0.9vw;
    letter-spacing: 0.13rem;
    margin-bottom: 0.5rem;
}

.img_data__weight {
    font-weight: 500;
    font-size: 0.9vw;
    letter-spacing: 0.13rem;
}

.mainContent__grid_content {
    position: relative;
}

.mainContent__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainContent__title_contributors {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.mainContent__title_userImg {
    position: relative;
    max-height: 45px;
}

.mainContent__title_userImg button {
    background: var(--blue);
    border: none;
    padding: 12px 16px;
    border-radius: 40%;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

span.mainContent__title_userImg--online {
    height: 14px;
    width: 14px;
    background-color: var(--green-apple);
    border-radius: 50%;
    display: block;
    border: 3px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mainContent__title_userImg img {
    width: 100%;
    height: auto;
    border-radius: 40%;
    max-width: 40px;
    max-height: 40px;
}


.mainContent__grid_content:nth-child(4n+1) {
    grid-column: span 2;
}

.mainContent__grid_content:nth-child(4n+2) {
    grid-column: span 1;
}

.mainContent__grid_content:nth-child(4n+3) {
    grid-column: span 1;
}

.mainContent__grid_content:nth-child(4n+4) {
    grid-column: span 2;
}


.mainContent__grid span {
    display: block;
}

.mainContent__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    max-height: 660px;
}

.mainContent__grid::-webkit-scrollbar {
    width: 0px;
    border-radius: 20px;
    background: #e5e5e5;
}

.mainContent__grid img {
    width: 100%;
    height: 100%;
}

/* End Main content */

/* Start Info Bar */

.infoBar {
    margin: 4rem 4rem 0rem 0rem;
}

.infoBar__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: left;
    justify-items: start;
    padding: 0 2rem;
}

.infoBar__buttons button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
}

.infoBar__buttons .active {
    font-weight: 600;
    position: relative;
}

.infoBar__buttons .active::after {
    content: "";
    width: 80%;
    height: 3px;
    background-color: var(--blue);
    bottom: -1rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
}

.infoBar__history {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 4px 19px 0px rgba(141, 179, 218, 0.18);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.infobar__history_item {
    display: flex;
    align-items: start;
    gap: 4rem;
    justify-content: space-between;
}

.infobar__history_item span {
    color: var(--grey);
}

.infobar__history_item>span {
    margin-top: 1rem;
}

.infobar__history_item_data {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
}

.infobar__history_item_data span {
    display: block;
}

.infobar__history_item_data span b,
.infobar__history_item_data p {
    color: var(--dark-blue);
}

.infobar__history_item_data_action {
    margin-bottom: 2rem;
}

.infobar__history_item_data_actionIcon {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
    align-items: center;
}

.infobar__history_item_data_file {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1rem;
}

.infobar__history_item_data_file span {
    border: 1px solid #cecece;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.3rem;
}

.infobar__history_item_data_file .pdf {
    color: var(--red);
}

.infobar__history_item_data_file .doc {
    color: var(--blue);
}

.infobar__history_item_data_file .xls {
    color: var(--green);
}

.infobar__history_item_data_file .img {
    color: var(--dark-grey);
}

/* End Info Bar */

/* Responsive */


@media (max-width: 1580px) {
    .mainContent__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1350px) {
    .mainContent__title {
        display: block;
    }

    .img_data__name,
    .img_data__weight {
        font-size: 1rem;
    }

    .mainContent h2 {
        margin-bottom: 2rem;
    }

    .mainContent__title_contributors {
        margin-bottom: 2rem;
    }

    .sideBar {
        grid-template-rows: 20% auto;
        gap: 2rem;
    }

    .sideBar__menu ul li a {
        padding: 0 1.5rem;
        font-size: 0.85rem;
    }

    .sideBar__user {
        padding: 4rem 2rem;
    }

    .infoBar {
        margin: 4rem 2rem 0rem 0rem;
    }

    .mainContent {
        padding: 4rem 3rem;
    }

    .sideBar .displayMobile {
        display: block;
    }

    .infoBar {
        display: none;
    }
}

@media (max-width: 1200px) {

    .infobar__history_item_data_file span {
        padding: 0.4rem;
        font-size: 1rem;
    }

    .infobar__history_item_data span {
        font-size: 1rem;
    }

    .infoBar__history {
        padding: 1rem;
    }

    .infoBar {
        margin: 4rem 1rem 0rem 0rem;
    }
}

@media (max-width: 992px) {

    body {
        overflow-y: scroll;
    }

    .img_data__name,
    .img_data__weight {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .mainGrid {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .sideBar {
        display: flex;
        flex-direction: column;
        height: 15%;
    }


    .activeMenu {
        height: 100%;
        transition: 300ms ease all;
    }

    #sidebarMenu {
        transition: 300ms ease all;
    }

    .sideBar__menu {
        overflow: hidden;
    }

    .sideBar__menuMobile {
        display: block;
    }

    .sideBar__user {
        justify-content: space-between;
        padding: 2rem;
    }

    .mainContent {
        padding: 2rem;
    }

    .mainContent__grid {
        overflow: hidden;
        max-height: 100%;
    }

}

@media (max-width: 500px) {
    .img_data{
        padding: 0.8rem 1rem;
    }
}